<a href="https://colab.research.google.com/github/abdullatif14/R_project_week12/blob/main/R_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Reading and Cleaning the data

In [2]:
ad <- read.csv('/content/advertising.csv')
head(ad)

  Daily.Time.Spent.on.Site Age Area.Income Daily.Internet.Usage
1 68.95                    35  61833.90    256.09
2 80.23                    31  68441.85    193.77
3 69.47                    26  59785.94    236.50
4 74.15                    29  54806.18    245.89
5 68.37                    35  73889.99    225.58
6 59.99                    23  59761.56    226.74
  Ad.Topic.Line                         City           Male Country
1 Cloned 5thgeneration orchestration    Wrightburgh    0    Tunisia
2 Monitored national standardization    West Jodi      1    Nauru
3 Organic bottom-line service-desk      Davidton       0    San Marino
4 Triple-buffered reciprocal time-frame West Terrifurt 1    Italy
5 Robust logistical utilization         South Manuel   0    Iceland
6 Sharable client-driven software       Jamieberg      1    Norway
  Timestamp           Clicked.on.Ad
1 2016-03-27 00:53:11 0
2 2016-04-04 01:39:02 0
3 2016-03-13 20:35:42 0
4 2016-01-10 02:31:19 0
5 2016-06-03 03:36:18 0
6 2016-05-19 14:30:17 0

In [3]:
# lets check for missing data
length(which(is.na(ad)))

# we can see there are no missing values

[1] 0

In [5]:
# double checking for missing values in any of the columns
colSums(is.na(ad))

Daily.Time.Spent.on.Site                      Age              Area.Income
                       0                        0                        0
    Daily.Internet.Usage            Ad.Topic.Line                     City
                       0                        0                        0
                    Male                  Country                Timestamp
                       0                        0                        0
           Clicked.on.Ad
                       0

In [14]:
# checking for duplicates
duplicated <- ad[duplicated(ad),]
length(duplicated)

[1] 10

In [12]:
unique_items <- ad[!duplicated(ad), ]

# What about seeing what these unique items are?
# ---
length(unique_items)
#length(which(is.na(data)))
#head(unique_items)

[1] 10

In [18]:
#Lets check for outliers
Boxplot(clicked.on.ad)

ERROR: ignored

##Univariate analysis